# Run test suite
name: Tests
on: [push, pull_request]
jobs:
  test:
    name: test
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macOS-latest]
        php-versions: ['7.4', '8.0', '8.1']
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Set autocrlf on windows
        if: matrix.operating-system == 'windows-latest'
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - name: Install composer dependencies
        uses: ramsey/composer-install@v2
        with:
          composer-options: "--prefer-dist --optimize-autoloader"
      - name: Check coding standard
        run: composer cs:check
      - name: Test with phpunit
        run: composer test
